<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <img src="{{ .Site.BaseURL }}img/john.jpg">
    </div>

    <nav>
      <ul class="sidebar-nav">
        <!-- <li><a href="{{ .Site.BaseURL }}">About Me</a> </li> -->
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <p>&copy;{{ now.Format "2006"}} John Gorriceta. All rights reserved.</p>
  </div>
</aside>
